<div class="login-container">
  <div class="login-card card fade-in">
    <div class="card-header text-center">
      <img src="img/logo/logo-ssac.jpg" alt="Logo SSAC" class="logo">
      <h1 class="card-title">Connexion Administrateur</h1>
      <p class="subtitle">Réinitialisation de mot de passe</p>
    </div>

    <!-- Formulaire de connexion normal -->
    <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
      <div class="form-group">
        <label for="newpassword" class="form-label">Nouveau mot de passe</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="newpassword"
          name="newpassword"
          class="form-control"
          [(ngModel)]="newpassword"
          required
          placeholder="Entrez votre le nouveau mot de passe"
          [disabled]="isLoading"
        >
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" (click)="showPassword = !showPassword" tabindex="-1">
            <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword" class="form-label">Confirmer Mot de passe</label>
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmPassword"
          name="confirmPassword"
          class="form-control"
          [(ngModel)]="confirmPassword"
          required
          placeholder="Confirmer le mot de passe"
          [disabled]="isLoading"
        >
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" (click)="showConfirmPassword = !showConfirmPassword" tabindex="-1">
            <i [class]="showConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </button>
        </div>
      </div>

      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <div class="alert alert-success" *ngIf="resetMessage">
        {{ resetMessage }}
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-full"
        [disabled]="isLoading || !resetPasswordForm.form.valid"
      >
        <span *ngIf="isLoading">Connexion en cours...</span>
        <span *ngIf="!isLoading">Valider</span>
      </button>

      <div class="text-center margin-text">
        <a (click)="toggleForgotPassword()" class="text-style">
          Retour à la connexion
        </a>
      </div>
    </form>

    <div class="login-footer">
      <p>Vous êtes un utilisateur ?</p>
      <button class="btn btn-secondary" (click)="goToUserLogin()">
        Connexion Utilisateur
      </button>
      <button class="btn btn-warning mt-3" (click)="goToHome()">
        Retour à l'accueil
      </button>
    </div>
  </div>
</div>

